@use 'variables';

.event {
    padding: 80px 0;

    &--a {
        background-image: linear-gradient(variables.$blue1,variables.$blue2);

    }

    &--b {
        background-image: linear-gradient(variables.$blue2 50%,variables.$blue1);

    }


    &--image-left {

        .container {
            flex-direction: row-reverse;
        }

    }




    .container {
        display: flex;
        gap: 40px;
    }

    &__image {
        max-width: 360px;
    }

    &__details {

        &__title {
            margin-bottom: 16px;
            font-size: 18px;
            font-weight: bold;
        }

        &__descripton {
            line-height: 22px;
        }
    }

    @media (max-width:1024px) {}

    @media (max-width:624px) {
        .container {
            display: block;
        }

        &__image {
            width: 100%;
        }


        &__details {
            margin-right: 0;
            margin-bottom: 16px;
        }
    }
}