@use 'variables';

.hero {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0 100px 0;
    position: relative;


    .container {
        position: relative;

        p.hero__text {
            @media (max-width:624px) {
                font-size: 16px;
                margin: 5px 0 50px 0;
            }
        }
    }

    &::before {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #5200cc;
        opacity: 0.7;
    }

    &__text {
        font-size: 36px;
        word-spacing: 8px;
        line-height: 80px;
        font-weight: 800;
        text-align: center;




    }



    &__logo {
        position: relative;
        margin: 0 auto;
        height: 250px;
        display: block;




    }

    img.hero__logo {
        @media (max-width:624px) {
            height: 100px;
        }

    }


    &__contador {
        margin: 2px 0;
        display: flex;
        justify-content: center;
        padding: 3px;
        gap: 20px;


        span {

            text-align: center;
            width: 200px;
            background-color: variables.$colorButton;
            font-size: 48px;
            padding: 20px;
            border-radius: 8px;

            @media (max-width:624px) {
                max-width: 100%;
                font-size: 18px;
                padding: 10px;
                text-align: center;

            }

        }

        &__text {
            font-size: 20px;

            @media (max-width:624px) {
                font-size: 10px;
                margin: 0 auto;
            }
        }


    }

    @media (max-width:624px) {
        padding: 40px 0;

        &__logo {
            height: 40px;
        }

        &__text {
            font-size: 22px;
            line-height: 50px;
            margin: 24px 0
        }


    }
}


.icon {
    padding: 10px;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    border-radius: 8px;
    display: block;

    &__item {
        display: inline-block;
        text-align: center;
        animation: icon 0.6s alternate infinite;

        img {
            width: 40px;
            background-color: variables.$textColor;
            border-radius: 100%;
        }
    }

    @keyframes icon {
        0% {
            transform: translateY(1px);
        }

        5% {
            transform: translateY(1.2px);
        }

        10% {
            transform: translateY(1.3px);
        }

        15% {
            transform: translateY(1.4px);
        }

        20% {
            transform: translateY(1.5px);
        }

        25% {
            transform: translateY(1.6px);
        }

        30% {
            transform: translateY(1.7px);
        }

        35% {
            transform: translateY(1.8px);
        }

        40% {
            transform: translateY(1.9px);
        }

        45% {
            transform: translateY(2px);
        }

        50% {
            transform: translateY(2.1px);
        }

        55% {
            transform: translateY(2.2px);
        }

        60% {
            transform: translateY(2.3px);
        }

        65% {
            transform: translateY(2.4px);
        }

        70% {
            transform: translateY(2.5px);
        }

        75% {
            transform: translateY(2.6px);
        }

        80% {
            transform: translateY(2.7px);
        }

        85% {
            transform: translateY(2.8px);

        }

        90% {
            transform: translateY(2.9px);
        }

        95% {
            transform: translateY(3px);

        }

        100% {
            transform: translateY(3.1px);
        }
    }

    @media (max-width:624px) {
        display: none;
    }
}